body {

	margin: 12pt;
	margin-bottom: 0;

	font-family: monospace;
	font-weight: normal;
	font-size: 12pt;

	color: rgb(200, 210, 200);
	background: rgb(40, 40, 40);

	display: flex;

	flex-direction: column;

	align-items: center;
}

@media (max-width: 800px) {

	body {

		width: calc(100% - 24pt);
	}
}
@media (min-width: 800px) {

	body {

		width: calc(800px - 24pt);
	}
}

.wrapper {

	position: relative;

	white-space: pre;

	overflow: auto;

	height: calc(100% - 60pt);

	width: 100%;

	box-shadow: inset 0 0 120pt 1pt rgba(0, 0, 0, 0.2);

	border: 1pt solid rgba(0, 0, 0, 0.2);

	border-radius: 1.5pt;

	padding: 2pt;
}

#slider {

	width: calc(100% - 16pt);

	padding-top: 8pt;
	padding-bottom: 8pt;

	margin: 0;
}

.selected, .executing, .flow-1 {

	border-radius: 0.3em;
}

.selected {

	color: rgb(230, 200, 160);

	background-color: rgb(140, 70, 50) !important;

	z-index: 10;
}

.executing {

	color: rgb(220, 220, 210);

	background-color: rgb(60, 60, 100);
}

.flow-1 {

	color: rgb(250, 220, 60) !important;

	background-color: rgb(180, 10, 50);
}

::selection {

	color: rgb(240, 240, 240);
	background: rgb(120, 150, 120);
}

*:focus {

	outline: none;
}