@font-face {
	font-family: SourceCodePro;
	src: url(SourceCodeVariable-Roman.ttf);
}

body {

	margin: 1em;
	margin-bottom: 0;

	font-family: SourceCodePro, monospace;
	font-weight: normal;
	font-size: 12pt;
	margin-bottom: 0.3em;

	color: rgb(200, 200, 200);
	background: rgb(48, 48, 48);
}

table {
	color: inherit;
	font-size: inherit;
	margin-left: 1em;
}
td:first-child {
	padding-left: 0;
}
td {
	padding-left: 2em;
}
tr.separator {
	margin: 0;
	padding: 0;
	height: 2em;
}

#instructions {

	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 2;
}

.wrapper {

	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: calc(50% - 2em);
}

.wrapper2 {
	display: flex;
}
@media (min-aspect-ratio: 11/9) {

	.wrapper {
		width: calc(70% - 2em);
	}
	.wrapper2 {
		width: 100%;
		flex-direction: row;
	}
	.wrapper3 {
		margin-left: 1em;
		margin-top: 0;
	}
	#code {
		height: calc(100% - 4em);
	}
}
@media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 11/9) {

	.wrapper {
		width: calc(100% - 2em);
	}
	.wrapper2 {
		flex-direction: column;
	}
	.wrapper3 {
		margin-left: 0;
		margin-top: 1em;
	}
	#code {
		height: calc(100% - 24em);
	}
	#source {
		max-width: calc(100% - 1em);
	}
}

.wrapper3 {
	display: flex;
	flex-direction: column;
	align-items: left;
}
.wrapper3 > *:first-child {
	margin-top: 0 !important;
}
.wrapper3 > * {
	margin-top: 1em;
}
.wrapper4 {
	display: flex;
	flex-direction: row;
}
.wrapper4 > *:first-child {
	margin-left: 0 !important;
}
.wrapper4 > * {
	margin-left: 1em;
}

.key {

	display: inline;

	color: rgb(180, 180, 50);

	font-weight: bold;
}

#code {

	position: relative;
	white-space: pre;
	overflow: hidden;
	width: 100%;
	background-color: rgb(37, 37, 37);
	box-shadow: inset 0 0 2em 0.1em rgba(0, 0, 0, 0.2);
	border: 0.1em solid rgba(0, 0, 0, 0.2);
	border-radius: 0.05em;
	padding: 0.1em;
}

#slider {

	width: 100%;
	margin: 1em;
	margin-top: 0 !important;
	padding: 0;
}

#source {
	
	min-width: 200px;
	width: 600px;
	min-height: calc(20 * 12pt);
	color: rgb(200, 200, 200);
	font-size: 12pt;
	background-color: rgb(37, 37, 37);
	border: 0.1em solid rgba(0, 0, 0, 0.2);
}
textarea {
	tab-size: 4;
}

block {

	width: 1000%;

	display: flex;
	flex-direction: column;
}

.block > * {

	width: 100%;
}

.active_cursor, .flow-1, .flow-2, .flow-3, .flow-4, .flow-5, .flow-6, .flow-7, .flow-8, .flow-9 {

	border-radius: 0.2em;
}

.active_cursor, .active_cursor * {

	background-color: rgb(120, 60, 20) !important;
	position: relative;
	z-index: 10;
}

.flow-1, .flow-1 > .code-ident {

	color: rgb(250, 220, 60) !important;

	background-color: rgb(202, 13, 57);
}

.flow-2 {

	color: rgb(250, 220, 60) !important;

	background-color: rgb(6, 116, 15);
}

::selection {

	color: rgb(240, 240, 240);
	background: rgb(120, 150, 120);
}

*:focus {

	outline: none;
}

/* Syntax Highlighting */
.code-literal {
	color: rgb(15, 218, 184);
}
.code-string {
	color: rgb(15, 218, 184);
}
.code-ident {
	color: rgb(220, 220, 220);
}
.code-type {
	color: rgb(118, 140, 252);
}
.code-func {
	color: rgb(220, 221, 140);
}
.code-return, .code-return > .code-ident {
	color: rgb(231, 250, 236);
}
.code-keyword {
	color: rgb(248, 130, 248);
}
.code-op {
	color: rgb(80, 240, 80);
}